
.one{

        padding: 10px;

        margin-top: 10px;
}


.two{

        padding: 10px;
        width: 80px;

        margin-top: 10px;

        background-color: aqua;

        border-radius: 300px;
}

